extends layout

block content
    .container
      .row
        .col-lg-8.col-md-8.col-sm-12
          .panel
           h3 About Me
           p 24 year old, Oakland native with a passion for creating digital media. While fine tuning my design skills, learning to code and networking I've gained work experience in tech and retail sales. 
        .col-lg-4.col-md-4.col-sm-12
          .panel
           h3 Location
           i.fa.fa-map-marker 
           |  Oakland, Ca 
          
    
    .container  
      .row
       .col-lg-8.col-md-8.col-sm-12
        .panel
         h3 Projects

       

        .col-lg-6.col-md-8.col-sm-12
          .panel.projects
            .media
            .media-left.media-middle
             a(href='#')
              img.media-object(src="http://placehold.it/150x150", alt='...')
            .media-body
             h4.media-heading Example site
             |    Description of the Project...
            .media
            .media-left.media-middle
             a(href='#')
              img.media-object(src="http://placehold.it/150x150", alt='...')
            .media-body
             h4.media-heading Example site
             |    Description of the Project...      

        .col-lg-6.col-md-8.col-sm-12
         .panel.projects
            .media
            .media-left.media-middle
             a(href='#')
              img.media-object(src="http://placehold.it/150x150", alt='...')
            .media-body
             h4.media-heading Example site
             |    Description of the Project...
            .media
            .media-left.media-middle
             a(href='#')
              img.media-object(src="http://placehold.it/150x150",  alt='...')
            .media-body
             h4.media-heading Example site
             |    Description of the Project...

       .col-lg-4.col-md-4.col-sm-12 
        .panel.skills
          h3 Education
          h5 Telegraph Prep (June '15)
          p A partner program of Hack Reactor focused on Javascript, I was taught key skills such as appropriate work flow, paired programming, and functional programming. Working with instructors and fellow classmates on problem solving and mock applications. Telegraph Academy has been a big part of my education. I now serve as a teacher’s assistant.

