extends layout

block content

    header.header
      .container.fluid
        .profile-content.pull-left
          h1.name Rodney L. Lewis
          h2.desc Front-End Web Developer
          ul.social.list-inline
            li
              a(href='https://www.linkedin.com/pub/rodney-lewis/73/11b/abb')
                i.fa.fa-linkedin
            li
              a(href='https://github.com/RL22')
                i.fa.fa-github-alt
       


